<!-- <app-home></app-home>
<app-login></app-login>
<app-about></app-about> -->
<div>
  <header>
    <ul>
      <li><a [routerLink]="['']">Home</a></li>
      <li><a [routerLink]="['about']">About</a></li>
      <li><a [routerLink]="['login']">Log In</a></li>
    </ul>
  </header>
  <router-outlet></router-outlet>
</div>
<div>
  <footer class=""> 
    <footer class="footer">
      <div class="footer-content">
        <div class="footer-logo" style="text-align: center;">
          <h2>Cake Shop</h2>
          <p>Delicious cakes made with love!</p>
        </div>

        <div class="footer-links">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Menu</a></li>
            <li><a href="/about">Contact Us</a></li>
            <li><a href="/about">About Us</a></li>
          </ul>
        </div>

       
      </div>

      <div class="footer-bottom">
        <p>&copy; 2024 Cake Shop. All Rights Reserved.</p>
      </div>
    </footer>

  </footer>
</div>
